<h1>Edit picture</h1>

<%= link_to 'Index', pictures_path %>
<% if @picture.errors.any? %>
  <ul>
    <% @picture.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @picture do |form| %>
  <div>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>
  <%= form.submit %>
<% end %>